<div class="row">
<!-- display all reviews as clickable links -->
  <div class="col-sm-4">
      <p ng-repeat="item in reviews">
        <a ui-sref="reviews.reviewDisplay( { reviewId: item.id })">{{ item.title }}</a>
      </p>
  </div>

  <div class="col-sm-8">
<!-- display clicked on review -->
    <div ui-view="body"></div>

<!-- form to add new reviews -->
    <div class="review-form">
    <h2 id="form-header">Create New Movie Review</h2>
      <form ng-submit="ReviewsFactory.addReview()" role="form">
        <div class="form-group">
          <input type="text" ng-model="ReviewsFactory.reviewTitle" class="form-control" placeholder="Enter the title for the review here" required>
        </div>
        <div class="form-group">
          <input type="text" ng-model="ReviewsFactory.reviewBody" class="form-control" placeholder="Enter the review here" required>
        </div>
        <button type="submit" class="btn btn-default btn-enter btn-review">Submit</button>
      </form>
    </div>
  </div>

</div>
